In [2]:
import csv

In [4]:
import pandas as pd

In [12]:
myDict = {}

with open("data/2024-annual-report-report-data-all-states copy.csv", "r", encoding = "utf-8", errors = "replace") as file:

    csvReader = csv.reader(file, delimiter = ",")
    next(csvReader)

    for row in csvReader:
        factor = row[1]
        state = row[2]
        value = row[3]
        rank = row[5]

        if state == "HI" or state == "IA" or state == "ND" or state == "MI" or state == "WV":
            if state not in myDict:
                myDict[state] = {}
                
            if factor == "Depression":
                myDict[state]["Depression"] = value
                myDict[state]["Depression State Ranking"] = rank
                
            if factor == "Insufficient Sleep":
                myDict[state]["Insufficient Sleep"] = value

            if factor == "Adverse Childhood Experiences":
                myDict[state]["Adverse Childhood Experiences"] = value

            if factor == "Poverty":
                myDict[state]["Poverty"] = value

            if factor == "Food Insecurity":
                myDict[state]["Food Insecurity"] = value

In [32]:
df = pd.DataFrame(myDict)

# rearranges columns and rows
df = df[["HI", "IA", "ND", "MI", "WV"]]
df = df.loc[["Depression State Ranking", "Depression", "Poverty", "Food Insecurity", "Adverse Childhood Experiences", "Insufficient Sleep"]]

df

                                 HI    IA    ND    MI    WV
Depression State Ranking          1    13    25    36    48
Depression                     13.9  19.2  22.3  24.1  31.1
Poverty                        10.3  11.6  11.1  13.8  17.2
Food Insecurity                 9.6   9.8   8.6    13  13.7
Adverse Childhood Experiences  13.2  16.3  17.9  18.2    20
Insufficient Sleep             45.6  32.9  33.2  35.2  41.3